
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingreso Correcto</h2>
<a href="@Url.Action("Mailer", "Home")" class="btn btn-success btn-custom btn-rounded waves-effect waves-light m-b-30 btn-submit-form">Mail</a>

