@model IEnumerable<Servicio.DTO.DTO_Solicitud>
<div class="modal-header">
    <h3 style="text-align:center">Solicitud de Servicios para el Empleado</h3>
</div>
<div style="text-align:center; color:darkblue">
    <div class="modal-body">
        @foreach (var p in Model)
        {
            if (p.wifi == true)
            {
                <label><i class="ti-check"></i> WiFi</label>
            }
            if (p.home_grupal == true)
            {
                <br />
                <label><i class="ti-check"></i> Home Grupal</label>
                if (p.escritura_home == true)
                {
                    <label> (Escritura/Modificacion)</label>
                }
                else
                {
                    <label> (Solo Lectura)</label>
                }
            }
            if (p.home_personal == true)
            {
                <br />
                <label><i class="ti-check"></i> Home Personal</label>
            }
            if (p.internet == true)
            {
                <br />
                <label><i class="ti-check"></i> Internet</label>
            }
            if (p.laboratorio == true)
            {
                <br />
                <label><i class="ti-check"></i> Laboratorio</label>
            }
            if (p.rayos == true)
            {
                <br />
                <label><i class="ti-check"></i> Rayos X</label>
            }
            if (p.impresora == true)
            {
                <br />
                <label><i class="ti-check"></i> Impresora</label>
            }
            if (p.acceso_remoto == true)
            {
                <br />
                <label><i class="ti-check"></i> Acceso Remoto</label>
            }
        }
    </div>
</div>