<link href="assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css">

<div class="sweet-alert showSweetAlert visible" tabindex="-1" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-ouside-click="false" data-has-done-function="false" data-timer="null" style="display: block; margin-top: -189px;">
    <div class="icon error" style="display: none;">
        <span class="x-mark"><span class="line left"></span><span class="line right"></span></span>
    </div>
    <div class="icon warning" style="display: none;">
        <span class="body"></span>
        <span class="dot"></span>
    </div>
    <div class="icon info" style="display: none;"></div>
    <div class="icon success animate" style="display: block;">
        <span class="line tip animateSuccessTip"></span>
        <span class="line long animateSuccessLong"></span>
        <div class="placeholder"></div>
        <div class="fix"></div>
    </div>
    <div class="icon custom" style="display: none;"></div>
    <h2>Good job!</h2>
    <p class="lead text-muted" style="display: block;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat, tincidunt vitae ipsum et, pellentesque maximus enim. Mauris eleifend ex semper, lobortis purus sed, pharetra felis</p>
    <p>
        <button class="cancel btn btn-lg btn-default" tabindex="2" style="display: none;">Cancel</button>
        <button class="confirm btn btn-lg btn-primary" tabindex="1" style="display: inline-block;">OK</button>
    </p>
</div>


<script src="assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="assets/pages/jquery.sweet-alert.init.js"></script>