

<div class="radio radio-primary">
    <input type="radio" name="radio" id="escritura" value="option1" checked>
    <label for="escritura">
        <b>Modificación/Escritura</b> (Podrá modificar y crear nuevos documentos)
    </label>
</div>
<div class="radio radio-purple">
    <input type="radio" name="radio" id="lectura" value="option2">
    <label for="lectura">
        <b>Solo lectura</b> (Solo podra visualizar documentos)
    </label>
</div>